@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 2.6rem;
}

p, li, a, span{
    font-size: 1.6rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.8rem;
}

h5{
    font-size: 1.7rem;
}

.top-bar{
    display: flex;
    font-size: 1.6rem;
    background-color: #222222;
    color: white;
    justify-content: space-between;
    padding: 0 9rem;
}

.top-bar ul{
    list-style: none;
    display: flex;
    padding-left: 0;
}

.top-bar ul li{
    margin-right: 1rem;
}

.top-bar ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding-left: 1rem;
}

.top-bar .dropdown-content{
    position: absolute;
    top: 19px;
    display: none;
    flex-direction: column;
    background-color: #222222;
}

.top-bar .dropdown-content a{
    text-decoration: none;
    color: white;
    padding-right: 1rem;
}

.top-bar .dropdown-content a:nth-child(1){
    padding-top: 0.5rem;
}

.top-bar .dropdown-content a:last-child{
    padding-bottom: 0.5rem;
}

.top-bar ul li:nth-child(1):hover .dropdown-content{
    display: flex;
}

.top-bar ul li:nth-child(2):hover .dropdown-content{
    display: flex;
}

.top-bar .dropdown-content a:hover{
    background-color: blue;
}

.navbar{
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.8rem;
    height: 62px;
}

.navbar img{
    margin-left: 1rem;
}

.navbar ul{
    list-style: none;
    display: flex;
}

.navbar ul li{
    margin-right: 1.5rem;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding-left: 1.6rem;
}

.navbar ul li a:hover .fa-solid{
    display: inline-block;
}

.navbar ul li a:hover{
    padding-left: 0;
}

.navbar .fa-solid{
    display: none;
}

.hero{
    height: 409px;
    background-image: url('../img/hero-back.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
}

.hero-content h3{
    font-size: 3rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.hero-content h4{
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1rem;
}

.button{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    background-color: #F0A83E;
    padding: 1rem;
    border-radius: 6px;
}

.hero-content .button{
    width: 40%;
    text-align: center;
    margin: auto;
}

.products-header{
    margin-top: 1.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.products-header h2{
    margin-bottom: 1rem;
}

.products-content{
    display: flex;
    justify-content: center;
}

.products-card{
    width: 265px;
    display: flex;
    flex-direction: column;
    background-color: #FBFAF6;
    margin: 1rem;
}

/* @keyframes card {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
} */

.products-card:hover{
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 0.2s;
}

.products-card h4{
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
}

.products-card h5{
    font-size: 1.6rem;
    text-align: center;
    color: #F0A83E;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7.5rem 0;
}

.contact h3{
    margin-bottom: 1rem;
}

.contact form{
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
}

.contact form input{
    background-color: #3C2313;
    color: white;
    width: 340px;
    height: 40px;
    border: none;
    margin-bottom: 1rem;
    border-radius: 15px;
    padding-left: 1rem;
}

.contact form input::placeholder{
    color: white;
}

.button-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #F0A83E;
    border-radius: 1.5rem;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1.9rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-right: 1rem;
}

.reset{
    background-color: gray;
}

.footer-top{
    padding: 0 1.5rem;
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.footer-top div{
    display: flex;
    align-items: center;
    color: white;
}

.footer-top h3{
    margin-left: 1rem;
}

.button2{
    margin-left: 0.5rem;
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    background-color: #3C2313;
    padding: 1rem;
    border-radius: 15px;
}

.footer-top input{
        width: 271px;
        height: 40px;
        border: none;
        border-radius: 15px;
        padding-left: 1rem;
}

.footer-main{
    background-color: #3C2313;
    color: white;
    padding: 2.3rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-boxContainer{
    display: flex;
    align-items: flex-start;
}

.footer-boxContainer h3{
    font-weight: bolder;
}

.footer-boxContainer div{
    margin-left: 1.5rem;
}

.footer-boxContainer:not(:last-child){
    margin-bottom: 2rem;
}

.footer-bottom{
    color: white;
    background-color: black;
    text-align: center;
    height: 2rem;
}